.products {
    background-color: #f7f7f7;
}

.products-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 0;
}

.products-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0 0 40px 0;
}

.products-header img {
    width: 150px;
}

.products-header h2 {
    color: #051e13;
    font-size: 50px;
    margin: 10px 0;
}

.products-scrollable-container {
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    row-gap: 16px;

    grid-template-rows: 240px 240px 240px;

    grid-template-areas:
        'FF FH'
        'FF FH'
        'LQ LQ';
}

.grid-with-featured {    
    column-gap: 16px;
    grid-template-columns: 692px 692px;
}

.grid-without-featured {
    column-gap: unset;
    grid-template-columns: auto 100%;
}

.product-featured-image {
    width: 255px;
    max-width: 90%;
    margin: 0 auto 27px;
}

.featured-product {
    grid-area: FF;
}

.featured-product-half {
    grid-area: FH;
    display: grid;

    column-gap: 16px;
    row-gap: 16px;

    grid-template-columns: auto auto;
    grid-template-rows: 240px 240px;
}

.list-quarter {
    grid-area: LQ;
    display: grid;

    column-gap: 16px;
    row-gap: 16px;

    grid-template-columns: auto auto auto auto;
    grid-template-rows: 240px;
}

.product-element {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.product-element p {
    color: #15573F;
    font-weight: bold;
    margin: 0;
}

.product-image {    
    height: 125px;
    max-width: 90%;
    margin: 0 auto 27px;
}

.product-element-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 0 0;
}

.product-element-footer-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.product-element-footer-icons img {
    margin: 0 0 0 10px;
}